.menu_content {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 1201px;
     height: 35px;
     margin: 0 auto;
     border-top: 1px solid lightgrey;
}
.contents {
     margin-right: 60px;
     height: 100%;
     align-items: center;
     display: flex;
}
.contents:last-child {
     margin-right: 0;
}
.button_contents {
     display: flex;
     align-items: center;
     text-transform: uppercase;
     letter-spacing: 3px;
     height: 100%;
     padding: 0;
     margin: 0;
     opacity: .8;
     border: 0;
}
.publ_user {
     border-top: 1px solid black;
}
.button_contents:hover {
     border-top: 1px solid black;
}

/* section_publ */
.section_publ {
     width: 1202px;
     margin: 5px auto 10px;
     height: auto;
     justify-content: space-between;
}
.publ_content {
     width: 100%;
     display: grid;
     grid-template-columns: repeat(3, 350px);
     grid-auto-rows: minmax(100px, 300px);
     grid-gap: 20px;
     justify-content: center;
}
.publ_content>div {
     width: inherit;
     height: inherit;
     object-fit: cover;
}
.user_photo {
     object-fit: cover;
     width: 100%;
     height: 100%;
}




@media screen and (max-width: 1200px) {
     .menu_content {
          width: 1102px;
     }
     .section_publ {
          width: 1102px;
     }
     .publ_content {
          grid-template-columns: repeat(3, 300px);
          grid-auto-rows: minmax(100px, 250px);
     }
}

@media screen and (max-width: 1120px) {
     body {
          font-size: 17px;
     }
     .menu_content {
          width: 1002px;
          height: 30px;
     }
     .section_publ {
          width: 1002px;

     }
     .publ_content {
          grid-template-columns: repeat(3, 250px);
          grid-auto-rows: minmax(100px, 200px);
     }
}
@media screen and (max-width: 1020px) {
     body {
          font-size: 16px;
     }
     .menu_content {
          width: 902px;
          height: 30px;
     }
     .section_publ {
          width: 902px;

     }
     .publ_content {
          grid-template-columns: repeat(3, 200px);
          grid-auto-rows: minmax(100px, 150px);
     }
}
